.myppl{
  min-height: 100vh;
  padding: 0 !important;
  background: #f9f4ff !important;
}

.myppl-msg.ui.container{
  padding: 20px 0!important;
}
.myppl-msg .message.ui{
  padding: 48px !important;
}

.show-more-container{
  width: fit-content;
  display: flex;
  justify-content: center;
  margin: 0 auto !important;
}
.show-more-container h4{
  margin: 0 20px !important;
}